@{
    Layout = null;
    string sTitulo = "Bienvenido a mi tienda - elPiquero.com";

}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@sTitulo</title>
    <link href="~/css/stylo.css" rel="stylesheet" />
</head>
