<!DOCTYPE html>
<html>
<body>
    @RenderPage("~/include/cabecera.cshtml")


    <div class="contenedor">Bienvenidos
    


    </div>




    @RenderPage("~/include/piepagina.cshtml")

</body>
</html>
