@{
    Layout = null;
    string sTitulo = "Bienvenidos a la Tiene On Line de elPiquero.com";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@sTitulo</title>
    <link href="~/css/stylo.css" rel="stylesheet" />
</head>
<body>
    <div class="contenedor">Bienvenidos
    
    </div>
</body>
</html>
